body{
    background-color: rgb(7, 6, 8);
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
    color: rgb(57, 60, 228);
}
.details{
    font-size: 1.2rem;
    color:rgb(233, 236, 236);
    padding-bottom: 10px;
    text-align: center;
    padding: 30px;
    
}

.name{
    float: left;
    width: 55%;
    margin-top: 5px;
    margin-left: 10px;
}


.textField{  
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: content-box;
  border-color:rgb(248, 6, 87);
  border-radius: 10px; 
  width: 20%;
  margin-top: 5px;
  margin-right: 20%;
} 
input[type="radio"]{
   accent-color: rgb(32, 124, 48);
   /* margin-right: 35%; */
}

button{
    color:rgb(77, 28, 28);
    background-color: white;
    display: inline-block;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#user_data{
    border-collapse: collapse;
    color: beige;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* display: none; */
  }
 th{
     border: 2px solid white; 
 }
 hr{
    color: rgb(189, 172, 172);
    width: 75%;
}


