body{
    background-color: rgb(7, 6, 8);
    background-image: linear-gradient(to left, rgba(248, 214, 246, 0.747), rgba(201, 156, 243, 0.918)   , rgba(155, 122, 233, 0.822) 80%, rgba(248, 214, 246, 0.747));
    text-align: center;
    opacity: 1.0;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
    color: rgb(2, 121, 2);
    padding-top: 1rem;
}
.details{
    font-size: 1.2rem;
    color: black;
    padding-bottom: 10px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    /* padding-bottom: 10rem; */
    
}

.name{
    float: left;
    width: 55%;
    margin-top: 5px;
    margin-left: 10px;
}


.textField{  
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: content-box;
  border-color:rgba(240, 102, 102, 0.918);
  border-radius: 10px; 
  width: 20%;
  margin-top: 5px;
  margin-right: 20%;
  outline: none;
} 
input[type="radio"]{
   accent-color: rgb(5, 31, 117);
   color: rgb(171, 211, 211);
   /* margin-right: 35%; */
   
}

button{
    color:rgb(77, 28, 28);
    background-color: white;
    display: inline-block;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    padding-top: 10px;
}



#user_data{
    border-collapse: collapse;
    color: beige;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 12px */
    width: 60%;
    background-color: rgb(187, 82, 21);
    
    /* visibility: hidden; */
    
  }
 th{
     border: 1.7px solid white; 
     padding: 10px;
     padding-left: 10px;
     font-size: 20px;
 }
 tr{
    border: 1.7px solid white; 
    
 }
 
.hidden {
    visibility : hidden;
}

.visible  {
    visibility: visible;
}
